---
import Layout from '@/layouts/BaseLayout.astro'
import ShadertoyCanvas from '@/components/webgl/ShadertoyCanvas.astro'
import Card from '@/components/Card.astro'
import NeonText from '@/components/text/NeonText.astro'

interface OverlayScreen {
	title: string
	mainText: string
	secondaryText: string
}

export const SCREENS: Record<string, OverlayScreen> = {
	'starting-soon': {
		title: 'Starting Soon',
		mainText: 'Starting Soon',
		secondaryText: 'Welcome to twitch.tv/kevinrpb',
	},
	brb: {
		title: 'BRB',
		mainText: 'Be Right Back',
		secondaryText: 'Thank you for waiting',
	},
	outro: {
		title: 'Outro',
		mainText: 'Bye Bye !',
		secondaryText: 'Follow for more streams',
	},
}

export const getStaticPaths = () => Object.keys(SCREENS).map((screen) => ({ params: { screen } }))

const { screen } = Astro.params
const { title, mainText, secondaryText } = SCREENS[screen]
---

<Layout
	title={title}
	background={false}
	class="w-full h-full flex flex-col gap-2 md:items-center md:justify-center"
	htmlClass="w-full h-full"
>
	<ShadertoyCanvas shaderId="gradient-1" class="fixed -z-50" />

	<main class="flex flex-col items-center md:justify-center">
		<Card class="flex flex-flow flex-col items-center justify-center gap-18 py-18 rounded-xl font-meow-script">
			<NeonText color="pink" animation="pulsate" class="text-9xl text-center">
				{mainText}
			</NeonText>

			<NeonText color="pink" animation="pulsate" class="text-4xl text-center">
				{secondaryText}
			</NeonText>
		</Card>
	</main>
</Layout>
