i[role='icon'] {
  width: 30px;
  height: 30px;

  background: transparent;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

i[role='icon'].at {
  -webkit-mask-image: url('/img/icon/at-sign.svg');
  mask-image: url('/img/icon/at-sign.svg');
}

i[role='icon'].gh {
  -webkit-mask-image: url('/img/icon/github.svg');
  mask-image: url('/img/icon/github.svg');
}

i[role='icon'].in {
  -webkit-mask-image: url('/img/icon/linkedin.svg');
  mask-image: url('/img/icon/linkedin.svg');
}

i[role='icon'].cv {
  -webkit-mask-image: url('/img/icon/file-text.svg');
  mask-image: url('/img/icon/file-text.svg');
}

i[role='icon'].proj {
  -webkit-mask-image: url('/img/icon/tool.svg');
  mask-image: url('/img/icon/tool.svg');
}

i[role='icon'].blog {
  -webkit-mask-image: url('/img/icon/edit-2.svg');
  mask-image: url('/img/icon/edit-2.svg');
}

i[role='icon'].az {
  background-image: url('/img/icon/amazon.png');
}

i[role='icon'].kubii {
  background-image: url('/img/icon/kubii.png');
}
