// !
// ! Layout
// !

article.deck {
  margin: 1em;
  padding: 2em;

  section.card {
    margin-bottom: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      margin: 1em;
      width: 10em;
      height: 10em;
    }

    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      a {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        &:not(:first-child) {
          margin-left: 1em;
        }

        i {
          width: 30px;
        }
      }
    }
  }
}


@include breakpoint(sm) {
  article.deck {
    margin: 1em 3em;
  }
}


@include breakpoint(md) {
  article.deck {
    margin: 1em 4em;
    padding: 3em;

    section.card {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 2fr 5fr;
      grid-template-areas:
        "image empty1"
        "image name"
        "image links"
        "image empty2";

      img {
        grid-area: image;
        width: 16vw;
        height: 16vw;
      }

      h1, h2 {
        grid-area: name;
        margin: 0;
      }

      nav {
        grid-area: links;
        margin-top: 2em;
      }
    }
  }
}

@include breakpoint(lg) {
  article.deck {
    margin: 1em 8em;

    section.card {
      img {
        width: 13vw;
        height: 13vw;
      }
    }
  }
}

@include breakpoint(xl) {
  article.deck {
    width: 50em;

    section.card {
      img {
        width: 10vw;
        height: 10vw;
      }
    }
  }
}


// !
// ! Theme
// !
article.deck {
  color: darken($space-cadet, 5%);
  background-color: rgba(white, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  h1 {
    font-size: 2em;
    text-align: center;

    margin-top: 0;
    margin-bottom: 2em;
  }

  section {
    color: darken($space-cadet, 5%);

    a {
      color: darken($amaranth-red, 10%);
    }

    &.card {
      img {
        border: 0.5em solid $space-cadet;
        border-radius: 50%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-color: $space-cadet;
      }

      h1 {
        font-size: 2em;
        text-align: center;
      }

      h2 {
        font-size: 1.5em;
        text-align: center;
      }

      nav {
        a {
          color: darken($space-cadet, 5%);

          i {
            svg {
              stroke-width: 2;
            }
          }
        }
      }
    }
  }
}

@include breakpoint(lg) {
  article.deck {
    section.card {
      h1 {
        font-size: 2.5em;
      }
    }
  }
}
