<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{title}}</title>
    <meta name="title" content="Kevin Romero Peces-Barba">
    <meta name="author" content="Kevin Romero Peces-Barba">
    <meta property="og:title" content="Kevin Romero Peces-Barba">
    <meta property="article:author" content="Kevin Romero Peces-Barba">

    <link
      rel="icon"
      type="image/png"
      href="/img/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/img/favicon-16x16.png"
      sizes="16x16"
    />
    <link rel="stylesheet" href="/styles.css" />

    <script src="/scripts.js"></script>
  </head>
  <body onload="init({{email}});">
    {{#canvas}} <canvas id="canvas"></canvas> {{/canvas}}

    <main>
      <article>
        {{#h1.use}} {{h1.value}} {{/h1.use}}

        {{#sections}} {{> section}} {{/sections}}
      </article>
    </main>
  </body>
</html>
