i[role=icon] {
  width: 30px;
  height: 30px;
  background: transparent;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

i[role=icon].at {
  -webkit-mask-image: url("/img/icon/at-sign.svg");
  mask-image: url("/img/icon/at-sign.svg");
}

i[role=icon].gh {
  -webkit-mask-image: url("/img/icon/github.svg");
  mask-image: url("/img/icon/github.svg");
}

i[role=icon].in {
  -webkit-mask-image: url("/img/icon/linkedin.svg");
  mask-image: url("/img/icon/linkedin.svg");
}

i[role=icon].cv {
  -webkit-mask-image: url("/img/icon/file-text.svg");
  mask-image: url("/img/icon/file-text.svg");
}

i[role=icon].proj {
  -webkit-mask-image: url("/img/icon/tool.svg");
  mask-image: url("/img/icon/tool.svg");
}

i[role=icon].blog {
  -webkit-mask-image: url("/img/icon/edit-2.svg");
  mask-image: url("/img/icon/edit-2.svg");
}

i[role=icon].az {
  background-image: url("/img/icon/amazon.png");
}

i[role=icon].kubii {
  background-image: url("/img/icon/kubii.png");
}

html,
body {
  margin: 0;
  padding: 0;
}

canvas#canvas {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
main[pad] {
  min-height: 60vh;
  padding: 20vh 0;
}
main article {
  margin: 1em;
  padding: 2em;
}
main article section[card] {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main article section[card] img {
  display: block;
  margin: 1em;
  width: 10em;
  height: 10em;
}
main article section[card] nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main article section[card] nav a {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
main article section[card] nav a:not(:first-child) {
  margin-left: 1em;
}

/* Small devices (portrait tablets and large phones) */
@media only screen and (min-width: 600px) {
  main article {
    margin: 1em 3em;
  }
}
@media only screen and (min-height: 600px) {
  main {
    justify-content: center;
  }
}
/* Medium devices (landscape tablets) */
@media only screen and (min-width: 768px) {
  main article {
    margin: 1em 4em;
    padding: 3em;
  }
  main article section[card] {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 5fr;
    grid-template-areas: "image empty1" "image name" "image links" "image empty2";
  }
  main article section[card] img {
    grid-area: image;
    width: 16vw;
    height: 16vw;
  }
  main article section[card] h1, main article section[card] h2 {
    grid-area: name;
    margin: 0;
  }
  main article section[card] nav {
    grid-area: links;
    margin-top: 2em;
  }
}
/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
  main article {
    margin: 1em 8em;
  }
  main article section[card] img {
    width: 13vw;
    height: 13vw;
  }
}
/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
  main article {
    width: 50em;
  }
  main article section[card] img {
    width: 10vw;
    height: 10vw;
  }
}
* {
  font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica, Arial, sans-serif;
}

html,
body,
canvas#canvas {
  background-color: #ecf1f3;
}

@media screen and (prefers-color-scheme: dark) {
  html,
body,
canvas#canvas {
    background-color: #2a2c41;
  }
}
main article {
  color: #202231;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
main article h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}
main article section {
  color: #202231;
}
main article section a {
  color: #a5031e;
}
main article section[card] img {
  border: 0.5em solid #2a2c41;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #2a2c41;
}
main article section[card] h1 {
  font-size: 2em;
  text-align: center;
}
main article section[card] h2 {
  font-size: 1.5em;
  text-align: center;
}
main article section[card] nav a {
  color: #202231;
}
main article section[card] nav a i {
  background-color: #202231;
}
main article section[card] nav a i.no-bg {
  background-color: transparent;
}

/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
  main article section[card] h1 {
    font-size: 2.5em;
  }
}