/* Reset browser styles */
@import 'lib/reset';

/* Base */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Fjalla+One|Pacifico|Shadows+Into+Light');
body, html{
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}

body {

    main#content {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    canvas#backCanvas {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        filter: blur(3px);
    }
}

/* The magic starts here */
