// !
// ! Layout
// !

// --------------------
// GENERAL
// --------------------

header[data-page='cv'] {
  @include site-header;

  max-width: calc(21cm - 1em);

  a.pill {
    font-size: 0.8em;
    width: auto;
    padding: 0 1em;

    .icon svg {
      width: 1.25em;
    }
  }
}

main[data-page='cv'] {
  margin: auto;
  margin-bottom: 1em;
  padding: 1cm;

  display: grid !important;
  grid-template-rows: 3cm 3.2cm auto;
  grid-template-columns: 3fr 5fr;
  grid-template-areas:
    'name sections'
    'links sections'
    'skills sections'
    'empty sections';

  align-items: unset;

  max-width: calc(21cm - 2cm);

  div {
    display: flex;
    flex-direction: column;
  }

  div#name {
    grid-area: name;
    height: 100%; // * If this is not here weird layout issues happen
  }

  div#links {
    grid-area: links;
    height: 100%;
  }

  div#skills {
    grid-area: skills;
    height: 100%;
  }

  div#sections {
    grid-area: sections;
    height: 100%;

    border-left: 1px solid rgba(0, 0, 0, 0.19);

    flex: 5;
    padding-left: 1.2cm;
    padding-right: 0.2cm;

    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      width: 100%;
      text-align: center;
    }
  }

  @include breakpoint(md) {
    width: 80vw;
  }

  @include breakpoint(lg) {
    width: 65vw;
  }

  @include breakpoint(xl) {
    width: 60vw;
  }

  @include breakpoint(xxl) {
    width: 50vw;
  }
}

header[data-page='cv'] *.icon,
main[data-page='cv'] *.icon {
  width: 24px;
  height: 24px;
  max-height: 100%;
  margin-right: 5px;
  vertical-align: middle;

  svg {
    stroke-width: 2;
  }
}

header[data-page='cv'] *.pill,
main[data-page='cv'] *.pill {
  // display: block;
  position: relative;
  width: calc(100% - 6px);
  max-width: 160px;
  height: 30px;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: calc(36px / 2);
  }
}

header[data-page='cv'] *.pill {
  height: 25px;
  line-height: 25px;
}

main[data-page='cv'] div#name {
  h1 {
    font-weight: 400;
    text-align: center;
  }
}

main[data-page='cv'] *.divider {
  display: block;
  width: 80%;
  height: 0;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
}

main[data-page='cv'] div#links {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    // width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;

    p {
      margin: 0;
      width: calc(200% - 35px - 5px);
    }
  }

  .icon {
    width: 30px;
  }
}

main[data-page='cv'] div#skills {
  div.title {
    width: calc(30px + 4.2cm) !important;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5cm;
    padding-bottom: 10px;

    h2 {
      margin: 0;
      width: 4cm;
    }
  }

  div.set {
    div.skill {
      margin-bottom: 0.4cm;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin: 0;
      }

      *.pill {
        width: calc(90% - 6px);
        height: 24px;
        margin: auto;
      }
    }
  }
}

main[data-page='cv'] div#sections > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5cm;

  div.title {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5cm;
    padding-bottom: 10px;

    h2 {
      margin: 0;
      width: 4cm;
    }
  }

  div.content {
    width: 100%;

    p {
      margin-bottom: 0.2cm;
    }

    div {
      width: 100%;
      margin-bottom: 0.3cm;

      &:last-child {
        margin-bottom: 0;
      }

      h3.title {
        margin: 0;
      }

      div.info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          margin: 0;
        }

        p.date {
          margin-right: 0.2cm;
        }
      }

      div.notes {
        p {
          margin: 0;
          margin-bottom: 0.1cm;
          text-indent: 0;

          &:first-child {
            margin-top: 0.2cm;
            margin-bottom: 0.2cm;
          }

          &.item {
            display: list-item;
            margin-left: 0.5cm;
            list-style-position: outside;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// --------------------
// DESKTOP
// --------------------
@media screen and (min-width: 768px) {
  header[data-page='cv'] {
    a {
      &:hover {
        transform: scale(1.04);
      }
    }
  }

  main[data-page='cv'] {
    min-height: calc(90vw * 27 / 21);

    *.mobile {
      display: none !important;
    }

    div#sections {
      margin-top: 0.6cm;
    }
  }
}

@media screen and (min-width: 25cm) {
  main[data-page='cv'] {
    width: calc(21cm - 2cm);
    min-height: 27cm;
  }
}

// --------------------
// MOBILE
// --------------------

@media screen and (max-width: 767px) {
  header[data-page='cv'] {
    margin: 0;
    width: calc(100% - 1em);
    // On mobile make if be 'above' the body to fix a visual issue
    // with the shadow of the pill icon
  }

  header[data-page='cv'] *.pill,
  main[data-page='cv'] *.pill {
    height: 18px !important;
  }

  main[data-page='cv'] {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'name'
      'links'
      'sections'
      'skills';

    padding-top: 0;

    div#name {
      grid-area: name;
    }

    div#links {
      grid-area: links;

      a {
        max-width: 160px;
      }
    }

    div#skills {
      grid-area: skills;
    }

    div#sections {
      grid-area: sections;
      padding-left: 0.2cm !important;
      margin-top: 0.5cm;
    }
  }
}

// --------------------
// PRINT
// --------------------

@media print {
  canvas {
    display: none;
  }

  header[data-page='cv'] {
    display: none;
  }

  main[data-page='cv'] {
    // width: 100vw;
    // min-height: 100vh;
    // height: 200vh;
    padding: 0;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;

    *.mobile {
      display: none !important;
    }

    div#sections {
      margin-top: 0.6cm;
    }

    @for $centimeters from 1 to 6 {
      .break-#{$centimeters} {
        margin-top: $centimeters * 1cm;
      }
    }
  }
}

// !
// ! Styles
// !

// --------------------
// GENERAL
// --------------------

header[data-page='cv'] {
  a {
    color: black;
  }
}

main[data-page='cv'] {
  @include main-content-style;
  background-color: rgba(white, 1.0);
}

header[data-page='cv'] *.pill,
main[data-page='cv'] *.pill {
  text-align: center;
  text-decoration: none;
  color: gray;
  z-index: 0;

  border: 3px solid white;
  border-radius: calc(36px / 2);
  background-color: white;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: calc(36px / 2);
    z-index: -1;
  }

  @for $percentage from 0 to 101 {
    &.percentage-#{$percentage}::before {
      width: $percentage * 1%;

      @if $percentage < 30 {
        background-color: rgb(255, 142, 142);
        // Junky hack for @media print
        box-shadow: inset 0 0 0 1000px rgb(255, 142, 142);
      } @else if $percentage < 70 {
        background-color: rgb(255, 199, 142);
        // Junky hack for @media print
        box-shadow: inset 0 0 0 1000px rgb(255, 199, 142);
      } @else if $percentage < 101 {
        background-color: rgb(142, 255, 145);
        // Junky hack for @media print
        box-shadow: inset 0 0 0 1000px rgb(142, 255, 145);
      } @else {
        background-color: none;
      }
    }
  }
}

header[data-page='cv'] *.shadow,
main[data-page='cv'] *.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

main[data-page='cv'] div#name > h1 {
  font-weight: 400;
  text-align: center;
}

main[data-page='cv'] *.divider {
  border-bottom: 1px solid darken(white, 10%);
}

main[data-page='cv'] div#links {
  a {
    color: black;

    p {
      font-weight: 300;
      font-style: italic;
      line-height: 20px;
      text-align: start;
    }
  }
}

main[data-page='cv'] div#skills {
  text-align: center;

  div.title {
    border-bottom: 1px solid gray;

    h2 {
      color: black;
      font-weight: 400;
      text-align: start;
      font-size: 1.6em;
      line-height: 30px;
    }
  }

  div.set {
    h2 {
      font-weight: 400;
    }

    div.skill {
      p {
        font-weight: 300;
      }

      *.pill {
        width: calc(90% - 6px);
        height: 24px;
        margin: auto;
      }
    }
  }
}

main[data-page='cv'] div#sections > section {
  text-align: justify;

  div.title {
    border-bottom: 1px solid gray;

    h2 {
      color: black;
      font-weight: 400;
      text-align: start;
      font-size: 1.6em;
      line-height: 30px;
    }
  }

  div.content {
    p {
      text-align: justify;
      font-size: 0.8em;
    }

    div {
      h3.title {
        color: black;
        font-weight: 400;
        font-style: italic;
        text-align: start;
      }

      div.info {
        font-size: 0.8em;

        p {
          a {
            text-decoration: none;
            color: lighten(black, 40%);
          }
        }
      }

      div.notes {
        p {
          a {
            // text-decoration: none;
            color: black;
          }

          &.item {
            list-style-type: none;

            &::before {
              content: '\2014';
              position: absolute;
              margin-left: -0.5cm;
            }
          }
        }
      }
    }
  }
}

// --------------------
// DESKTOP
// --------------------
@media screen and (min-width: 768px) {
  header[data-page='cv'] {
    a {
      transition: all ease-in-out 100ms;
    }
  }

  main[data-page='cv'] {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 6px;
  }

  div#name > h1 {
    font-size: 2em;
  }
}

// --------------------
// MOBILE
// --------------------

@media screen and (max-width: 767px) {
  header[data-page='cv'] {
    background-color: white;

    border-radius: 0;
    border: none;
    justify-content: space-between;
    box-shadow: none;
  }

  main[data-page='cv'] {
    background-color: white;

    border-radius: 0;
    border: none;
    justify-content: space-between;
    box-shadow: none;
  }

  header[data-page='cv'] *.pill,
  main[data-page='cv'] *.pill {
    line-height: 18px;
  }

  main[data-page='cv'] div#sections {
    border: none !important;
  }
}

// --------------------
// PRINT
// --------------------

@media print {
  main[data-page='cv'] * {
    transition: none !important;
  }

  main[data-page='cv'] div#name > h1 {
    font-size: 2em;
  }

  header[data-page='cv'] *.shadow,
  main[data-page='cv'] *.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
  }
}
