#card {
	position: absolute;
	z-index: 10;
	border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);

  backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);

	#img {
		position: absolute;
		border: 10px solid white;
		border-radius: 50%;

		background-image: url('../img/kevs.png');	
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#name {
		position: absolute;
		text-align: center;
		vertical-align: middle;
		font-family: 'Pacifico', cursive;
		color: rgba(0, 0, 0, 1.0);
	}

	#links {
		position: absolute;
		font-family: 'Pacifico', cursive;

		.link {
			float: left;
		}
	}

	// Extra Small devices
	@media screen and (max-width: 733px) {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		#img {
			height: 200px;
			width: 200px;
			left: calc(50% - 100px);
			top: 15%;
		}

		#name {
			height: 200px;
			width: 80%;
			left: 10%;
			top: calc(15% + 200px);
			line-height: 200px;
			font-size: 25pt;
		}

		#links {
			height: 72px;
			margin-left: calc(50% - 108px);
			bottom: 100px;

			.link {
				height: 72px;

				img {
					height: 48px;
					width: 48px;
					margin: 12px;
				}
			}
		}
	}
	
	// Small and medium devices
	@media screen and (min-width: 734px) and (max-width: 991px) {
		height: 360px;
		width: 600px;
		top: calc(50% - 180px);
		left: calc(50% - 300px);

		#img {
			height: 180px;
			width: 180px;
			left: calc(50% - 90px);
			top: -60px;
		}

		#name {
			height: 72px;
			width: 600px;
			left: calc(50% - 300px);
			top: 150px;
			line-height: 72px;
			font-size: 30pt;
		}

		#links {
			height: 72px;
			margin-left: 192px;
			bottom: 42px;

			.link {
				height: 72px;

				img {
					height: 48px;
					width: 48px;
					margin: 12px;
				}
			}
		}
	}
	
	// Large and extralarge devices
	@media screen and (min-width: 992px)  {
		height: 600px;
		width: 1000px;
		top: calc(50% - 300px);
		left: calc(50% - 500px);

		#img {
			height: 300px;
			width: 300px;
			left: calc(50% - 150px);
			top: -100px;
		}

		#name {
			height: 120px;
			width: 1000px;
			left: calc(50% - 500px);
			top: 250px;
			line-height: 120px;
			font-size: 50pt;
		}

		#links {
			height: 120px;
			margin-left: 320px;
			bottom: 70px;

			.link {
				height: 120px;

				img {
					height: 80px;
					width: 80px;
					margin: 20px;
				}
			}
		}
	}
}
