body, html{
	height: 100%;
	width: 100%;
}

body {
	background: gray;
}

#slider {
	height: 100%;
	width: 100%;

	.photo {
		position: absolute;
		height: 110%;
		width: 110%;
		top: -5%;

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		// filter: blur(2px);
		// -webkit-filter: blur(2px);
		// -ms-filter: blur(2px);
		// -o-filter: blur(2px);
	
		// filter: sepia(80%);
		// -webkit-filter: sepia(80%);
		// -ms-filter: sepia(80%);
		// -o-filter: sepia(80%);

		&#A {
			left: -5%;

			opacity: 0;
		}

		&#B {
			left: 105%;

		}

	}
}
