/* Reset browser styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Fjalla+One|Pacifico|Shadows+Into+Light");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base */
body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

/* The magic starts here */
#slider {
  height: 100%;
  width: 100%;
  z-index: -1;
}
#slider .photo {
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#slider .photo#A {
  left: -5%;
  opacity: 0;
}
#slider .photo#B {
  left: 105%;
}

#card {
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#card #img {
  position: absolute;
  border-radius: 50%;
  border: 10px solid white;
  background-image: url("../img/kevs-sf.jpeg");
  background-size: cover;
}
#card #name {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  color: black;
}
#card #name:hover {
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
#card #links {
  position: absolute;
  font-family: 'Pacifico', cursive;
}
#card #links .link {
  float: left;
}
#card #links .link img {
  border: 2px solid transparent;
  border-radius: 50%;
}
#card #links .link img:hover {
  background: white;
  border: 2px solid white;
}
@media screen and (max-width: 733px) {
  #card {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  #card #img {
    height: 200px;
    width: 200px;
    left: calc(50% - 110px);
    top: 15%;
  }
  #card #name {
    height: 200px;
    width: 80%;
    left: 10%;
    top: calc(15% + 200px);
    line-height: 200px;
    font-size: 18pt;
  }
  #card #links {
    height: 72px;
    margin-left: calc(50% - 108px);
    bottom: 50px;
  }
  #card #links .link {
    height: 72px;
  }
  #card #links .link img {
    height: 48px;
    width: 48px;
    margin: 8px;
  }
}
@media screen and (min-width: 734px) and (max-width: 991px) {
  #card {
    height: 360px;
    width: 600px;
    top: calc(50% - 180px);
    left: calc(50% - 300px);
  }
  #card #img {
    height: 180px;
    width: 180px;
    left: calc(50% - 100px);
    top: -60px;
  }
  #card #name {
    height: 72px;
    width: 600px;
    left: calc(50% - 300px);
    top: 150px;
    line-height: 72px;
    font-size: 30pt;
  }
  #card #links {
    height: 72px;
    margin-left: 192px;
    bottom: 42px;
  }
  #card #links .link {
    height: 72px;
  }
  #card #links .link img {
    height: 48px;
    width: 48px;
    margin: 8px;
  }
}
@media screen and (min-width: 992px) {
  #card {
    height: 600px;
    width: 1000px;
    top: calc(50% - 300px);
    left: calc(50% - 500px);
  }
  #card #img {
    height: 300px;
    width: 300px;
    left: calc(50% - 160px);
    top: -100px;
  }
  #card #name {
    height: 120px;
    width: 1000px;
    left: calc(50% - 500px);
    top: 250px;
    line-height: 120px;
    font-size: 50pt;
  }
  #card #links {
    height: 120px;
    margin-left: 320px;
    bottom: 70px;
  }
  #card #links .link {
    height: 120px;
  }
  #card #links .link img {
    height: 80px;
    width: 80px;
    margin: 16px;
  }
}

#clock-wrapper {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 62.22222px;
  width: 100px;
  z-index: 11;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#clock-wrapper:hover, #clock-wrapper:focus {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.3);
}

.clock {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
}
.clock .clock-section {
  position: absolute;
  float: left;
  height: 90%;
  width: 28%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock .clock-section:first-child {
  left: 4%;
  transform: translate(0, -50%);
}
.clock .clock-section:last-child {
  left: 68%;
  transform: translate(0, -50%);
}
.clock .clock-section .clock-circle {
  float: left;
  width: calc(50% - 4px);
  height: calc(25% - 4px);
  border-radius: 50%;
  transition: all 0.4s ease;
  background: transparent;
  border: 2px solid #aaaaaa;
}
.clock .clock-section .clock-circle.hide {
  visibility: hidden;
}
.clock .clock-section .clock-circle.active {
  background: #ef3c2d;
  border: 2px solid #aaaaaa;
}
