/* Reset browser styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Fjalla+One|Pacifico|Shadows+Into+Light");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body main#content {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
body main#content div.content-section {
  opacity: 0;
  margin: auto;
  box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.76);
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}
body main#content div#card {
  width: 120vw;
  height: 120vh;
  margin-left: -10vw;
  margin-top: -10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}
body main#content div#card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main#content div#card #image {
  height: 40%;
}
body main#content div#card #image img {
  display: block;
  height: calc(90% - 10px);
  margin-top: 5%;
  width: auto;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.76);
}
body main#content div#card #name {
  height: 20%;
}
body main#content div#card #name h2 {
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  font-family: 'Pacifico', cursive;
  font-size: 9vw;
}
body main#content div#card #connections {
  height: 20%;
  flex-direction: row;
  justify-content: center;
}
body main#content div#card #connections div {
  height: 100%;
  width: auto;
}
body main#content div#card #connections div a {
  max-height: 100%;
  max-width: 100%;
}
body main#content div#card #connections div a img {
  display: block;
  height: 60%;
  width: auto;
  margin: auto;
  margin-top: calc(20% - 6px);
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}
body main#content div#card #connections div a img:hover {
  background-color: white;
  border: 3px solid white;
}
body main#content div#card .nav {
  height: 20%;
}
body main#content div#card .nav button {
  height: 50%;
  width: 50vw;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 6vw;
  box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.76);
}
body main#content *:not(div#card) {
  width: 80vw;
  height: 80vh;
  margin-top: 10vh;
}
body main#content.show-card div#card {
  opacity: 1;
  margin-top: 0;
  margin-left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}
body main#content.show-card div#card #name h2 {
  font-size: 7vw;
}
body canvas#backCanvas {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s ease;
  filter: blur(5px);
}

/* The magic starts here */

/*# sourceMappingURL=main.css.map */
