/* Reset browser styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Fjalla+One|Pacifico|Shadows+Into+Light");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base */
body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: relative;
  background: gray;
}

/* The magic starts here */
#slider {
  height: 100%;
  width: 100%;
  z-index: -1;
}
#slider .photo {
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#slider .photo#A {
  left: -5%;
  opacity: 0;
}
#slider .photo#B {
  left: 105%;
}

#card {
  position: absolute;
  z-index: 10;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
#card #img {
  position: absolute;
  border: 10px solid white;
  border-radius: 50%;
  background-image: url("../img/kevs.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#card #name {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  color: black;
}
#card #links {
  position: absolute;
  font-family: 'Pacifico', cursive;
}
#card #links .link {
  float: left;
}
@media screen and (max-width: 575px) {
  #card {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  #card #img {
    height: 200px;
    width: 200px;
    left: calc(50% - 100px);
    top: 15%;
  }
  #card #name {
    height: 200px;
    width: 80%;
    left: 10%;
    top: calc(15% + 200px);
    line-height: 200px;
    font-size: 25pt;
  }
  #card #links {
    height: 72px;
    margin-left: calc(50% - 108px);
    bottom: 100px;
  }
  #card #links .link {
    height: 72px;
  }
  #card #links .link img {
    height: 48px;
    width: 48px;
    margin: 12px;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  #card {
    height: 360px;
    width: 600px;
    top: calc(50% - 180px);
    left: calc(50% - 300px);
  }
  #card #img {
    height: 180px;
    width: 180px;
    left: calc(50% - 90px);
    top: -60px;
  }
  #card #name {
    height: 72px;
    width: 600px;
    left: calc(50% - 300px);
    top: 150px;
    line-height: 72px;
    font-size: 30pt;
  }
  #card #links {
    height: 72px;
    margin-left: 192px;
    bottom: 42px;
  }
  #card #links .link {
    height: 72px;
  }
  #card #links .link img {
    height: 48px;
    width: 48px;
    margin: 12px;
  }
}
@media screen and (min-width: 992px) {
  #card {
    height: 600px;
    width: 1000px;
    top: calc(50% - 300px);
    left: calc(50% - 500px);
  }
  #card #img {
    height: 300px;
    width: 300px;
    left: calc(50% - 150px);
    top: -100px;
  }
  #card #name {
    height: 120px;
    width: 1000px;
    left: calc(50% - 500px);
    top: 250px;
    line-height: 120px;
    font-size: 50pt;
  }
  #card #links {
    height: 120px;
    margin-left: 320px;
    bottom: 70px;
  }
  #card #links .link {
    height: 120px;
  }
  #card #links .link img {
    height: 80px;
    width: 80px;
    margin: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
