// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Main */

	#main {
		@include padding(4em, 0);
        min-height: 95vh;

		@include breakpoint(small) {
			@include padding(3em, 0);
		}

        section {
            min-height: 10vh;
            border-radius: 15px;
            background: red;
        }
	}
