<article
	class='md:w-[76vw] lg:w-[67vw] xl:w-[56vw] max-w-[1000px] flex flex-col m-4 p-8 md:p-12 gap-8 rounded bg-white bg-opacity-50 backdrop-blur drop-shadow-xl'
>
	<slot>
		<p>Hey you forgot to give me some content!</p>
	</slot>
</article>
