---
import Card from './Card.astro'

import paths from '@/data/paths.json'

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.replace(/\/+$/, '') // Remove trailing slash if present

export interface Props {
	class?: string
}

const { class: className = '', ...rest } = Astro.props
---

<header class='flex flex-flow z-10' {...rest}>
	<Card class:list={[className, 'flex-1 md:flex-none flex-flow gap-0 px-4']}>
		<nav class='flex flex-flow items-center justify-start w-full gap-4'>
			{
				paths.nav.map(({ label, href, enabled }) => {
					if (!enabled) {
						return null;
					}

					const isActive = currentPath == href.replace(/\/+$/, '') // Remove trailing slash if present
					const activeClasses = isActive ? ' underline ' : ''

					return (
						<a
							class:list={[activeClasses, 'decoration-solid underline-offset-4 hover:underline']}
							href={href}
							data-path={currentPath}
						>
							{label}
						</a>
					)
				})
			}

			<slot />
		</nav>
	</Card>
</header>
