<section {{#is_card}} card {{/is_card}}>
  <img src="{{img.src}}" alt="{{img.alt}}">

  {{#h1.use}} <h1>{{h1.value}}</h1> {{/h1.use}}

  {{#h2.use}} <h2>{{h2.value}}</h2> {{/h2.use}}

  {{#nav.use}}
  <nav>
    {{#nav.items}}
    <a
      href="{{href}}"
      target="_blank"
      aria-label="{{alt}}"
    ><i role="icon" class="{{i_class}}" aria-hidden="true"></i>{{txt}}</a>
    {{/nav.items}}
  </nav>
  {{/nav.use}}

  {{#p}} <p>{{.}}</p> {{/p}}
</section>
