---
import Head from '@/components/Head.astro'
import BackgroundCanvas from '@/components/BackgroundCanvas'

interface Props {
	title: string
	background?: boolean
}

const { title, background = true } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<Head title={title} />
	</head>
	<body class='bg-ebony-clay'>
		{background && <BackgroundCanvas className='fixed -z-50' client:load />}
		<slot />
	</body>
</html>
