---
import { ClientRouter } from 'astro:transitions'

import Head from '@/components/Head.astro'
import BackgroundCanvas from '@/components/BackgroundCanvas'

interface Props {
	title: string
	background?: boolean
	class?: string
	htmlClass?: string
}

const { title, background = true, class: className = '', htmlClass = '' } = Astro.props
---

<!doctype html>
<html lang="en" class={htmlClass}>
	<head>
		<Head title={title} />
		<ClientRouter fallback="swap" />
	</head>
	<body class:list={[className, 'bg-ebony-clay']}>
		<!-- Background -->
		{
			background && (
				<BackgroundCanvas className="fixed -z-50" client:load transition:name="background-canvas" transition:persist />
			)
		}

		<!-- Content -->
		<slot />
	</body>
</html>
