---
import Layout from '@/layouts/BaseLayout.astro'
import Header from '@/components/Header.astro'
import Card from '@/components/Card.astro'
---

<Layout title="Apps" class="flex flex-col gap-2">
	<Header class="mt-4" />

	<main class="flex flex-col items-stretch md:justify-center" transition:name="main-element">
		<Card class:list={['flex flex-col p-8', '']}>
			<article
				class:list={[
					'w-full max-w-full prose',
					'prose-h1:font-bold prose-h1:text-3xl prose-headings:underline prose-headings:my-2',
					'prose-p:my-2 prose-p:text-justify',
					'prose-ul:my-0 prose-li:my-0',
					'prose-img:rounded-xl',
				]}
			>
				<slot />
			</article>
		</Card>
	</main>
</Layout>
