* {
  // color: $space-cadet;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', Helvetica, Arial, sans-serif;
}

html,
body,
canvas.background-canvas {
  background-color: $alice-blue;
}

@media screen and (prefers-color-scheme: 'dark') {
  html,
  body,
  canvas.background-canvas {
    background-color: $space-cadet;
  }
}

header {
  
}
